:root {
    --colorHeader:#3A3E3F;
}

.header {
  
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: var(--colorHeader);
    border-bottom: outset;
   
}

.header-item {
    
}

.form {
    padding: 5px;
    position: relative;
    column-count: 2;
}

.button-div {
   
    width: 20px;
    right: 0;
   
}

