.search-card {
    column-count: 2;
    background-color: var(--colorVideo);
    animation: card_slide_up 3s ease;
box-shadow:  
/* inset 0 0 60px whitesmoke,
inset 20px 0 80px#f2d3f0,
inset -20px 0 80px rgb(197, 160, 79),
inset 20px 0 300px #f2d3f0,
inset -20px 0 300px rgb(209, 66, 9), */
0px 0 0px #c0baba,
0px 1px 0px rgb(196, 187, 196),
5px 0 5px rgb(236, 211, 188);
margin-bottom: 30px;
}





