* {
font-family: 'Trebuchet MS', sans-serif;;
}

.app-title-container {
  color: white;
  text-align: center;
  padding: 1%;
  
  background-color: var(--color);
}

.app-title-container h1 {
 
  font-family: 'Brush Script MT', cursive;
  font-size: 100px;
  
}

.app-title-div {
  margin-top: 50px;
  column-count: 1;
}

.login-form-container {
  padding: 1%;
  text-align: center;
  margin-top: 0%;
  
  height: 80vh;
  background-color: var(--color);
}

@keyframes slide_in_form{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }

  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}



.login-form-div {
  animation: slide_in_form 3s ease;
  margin-top: 1px;
  min-height: 400px;
  /* width: 400px; */
  margin: auto;
  padding: 3%;
  background-color: whitesmoke;
    /* box-shadow:
    0 0 0px rgb(230, 230, 230),
    5px 0 0px#f2d3f0,
    -5px 0 0px rgb(216, 213, 207),
    5px 0 0px #ffffff,
    -5px 0 0px rgb(243, 236, 234),
    0 0 5px #c0baba,
    0px 0 5px rgb(196, 187, 196),
    0px 0 5px rgb(236, 211, 188); */
}

@media only screen and (min-width: 600px) {
  .login-form-div {
    width: 400px;
  }
}

.google-button {
  margin-top: 100px;
}